.cropper-container {
  position: relative;
  height: 100%;
  max-height: 100%;
}

:is(.cropper-container) .cropper {
  position: relative;
  min-height: 80vh;
  max-height: 80vh;
  max-width: 100%;
}

.cropper-crop-box {
  z-index: 5;
}

.cropper-button-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem 0.1rem;
}

:is(.cropper-button-container) button {
  color: rgb(42, 42, 42);
  width: 3rem;
  height: 2rem;
  opacity: 0.5;
  transition: 0.3s all ease-in-out;
  z-index: 5;
}

:is(.cropper-button-container, .cropper-button-second-container) button:hover {
  opacity: 1;
}

:is(.cropper-button-container, .cropper-button-second-container) button:active {
  border: 1px solid transparent;
}

:is(.cropper-button-container, .cropper-button-second-container) svg {
  width: 40%;
  height: 40%;
}

:is(.image-enlarge-button, .image-compress-button) svg {
  width: 60%;
  height: 60%;
}

.crop-button {
  background-color: #c1bbf2;
}

.trash-button {
  background-color: #f2d8c7;
}

.rotate-left-button {
  transform: rotateY(180deg);
  background-color: #afcbf2;
}

.rotate-right-button {
  background-color: #f2e596;
}

.rotate-reset-button {
  background-color: #a2eef2;
}

.scroll-lock-button {
  background-color: #A8F55F;
}

.image-enlarge-button {
  background-color: #2aa4bf;
}

.image-compress-button {
  background-color: #bff29b;
}

.flip-horizontal-button {
  background-color: #f2e963;
}

.flip-vertical-button {
  background-color: #F59FB7;
}

.cropped-flip-button {
  background-color: rgb(92, 162, 247);
}
