.cropper-container {
  position: relative;
  height: 100%;
}

:is(.cropper-container) .cropper {
  position: relative;
  max-height: 100%;
}

.cropper-flip {
  transform: rotateY(180deg);
}

.cropper-button-container {
  position: absolute;
  display: flex;
  align-items: flex-end;
  gap: 2%;
}

:is(.cropper-button-container) button {
  color: rgb(42, 42, 42);
  width: 3.5rem;
  height: 2.5rem;
  transition: none;
}

:is(.cropper-button-container) button:active {
  border: 1px solid transparent;
}

:is(.cropper-button-container) svg {
  width: 40%;
  height: 40%;
}

.crop-crop-button {
  background-color: lightgreen;
}

.crop-trash-button {
  background-color: lightcoral;
}

.crop-rotate-left-button {
  transform: rotateY(180deg);
  background-color: antiquewhite;
}

.crop-rotate-right-button {
  background-color: cornsilk;
}

.crop-rotate-reset-button {
  background-color: lightseagreen;
}

.crop-rotate-flip-button {
  background-color: paleturquoise;
}
