.header {
  background-color: #333;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  cursor: default;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin-left: 10px;
  font-size: 40px;
}

.social-icons a svg {
  transition: 0.4s all ease-in;
}

.github-icon:hover {
  color: #f2e963;
}

.linkedIn-icon:hover {
  color: skyblue;
}

.heart-icon {
  position: relative;
  color: pink;
  overflow: hidden;
}

.heart-icon:hover {
  color: crimson;
}
