.dragDrop-area {
  position: relative;
  min-height: 50vh;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(71, 71, 71);
}

.dragDrop-area h2{
  padding: 0 20px;
}

.FileInputer{
  display: none;
}